<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>983365844177-ej3sckta7c0gp8prtcbbd9c2toe1b5kq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.983365844177-ej3sckta7c0gp8prtcbbd9c2toe1b5kq</string>
	<key>API_KEY</key>
	<string>AIzaSyBq9K-jzPDfGpwZiNqpXUJiTjsEfqWKMBw</string>
	<key>GCM_SENDER_ID</key>
	<string>983365844177</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.bstill.test</string>
	<key>PROJECT_ID</key>
	<string>bstill-2db39</string>
	<key>STORAGE_BUCKET</key>
	<string>bstill-2db39.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983365844177:ios:e2e642fe757ef0c04f59f0</string>
</dict>
</plist>